

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --roxo: #750775;
  --sombra: #a50ba5;
}

body {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  color: white;
  overflow-x: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.content img {
  width: 100%;
}

.content h1 {
  font-weight: 600;
  position: relative;
}

.content h1::after {
  content: " ";
  width: 80%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid var(--roxo);
  box-shadow: 0 0 12px 1px var(--sombra);
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 12px;
}

form {
  width: 100%;
  max-width: 500px;
}

fieldset {
  border: 4px solid var(--roxo);
  border-radius: 16px;
  height: 100%;
  padding: 20px 24px;
  width: 100%;
}

legend {
  border: 1px solid var(--roxo);
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  background-color: var(--roxo);
}

.inputBox {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
}

.inputLabel {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: linear .3s;
}

.inputUser:focus ~ .inputLabel,
.inputUser:valid ~ .inputLabel {
  top: -20px;
  font-size: 12px;
  color: var(--roxo);
}

#submit {
  background: linear-gradient(to right, var(--sombra), var(--roxo));
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 0 12px 0px var(--sombra);
}

.objetivo p {
  font-size: 1.4rem;
}

.objetivo label {
  font-size: 1.2rem;
}